.containerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    gap: 20px;    
}
.containerSwitch{
    display: flex;
    justify-content: center;
    align-items: center;
}
