.container{
    background-color: #F3E5AB;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.cardStyle{
    width: 45%;
    margin: 20px;
}
.title{
    margin-left: 650px;
}
.typographyStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}